<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">FiancialUplift</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="http://127.0.0.1:5500/index.html">Home</a>
          <a class="nav-link" href="/post/new">New Chat</a>
          <a class="nav-link" href="/posts">View Community</a>
        </div>
      </div>
    </div>
  </nav>