<% layout('layouts/boilerplate') %>
    <div class="roe">
        <div class="col-6 offset-3">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading"><%= err.message %></h4>
                <p>
                    Something went wrong. Please try again later.
                </p>
            </div>
        </div>
    </div>