@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Smooth Scroll */
html{
    scroll-behavior: smooth;
}



/* variables */
:root{
    --background-color: #230c33;
    --main-color: #dc86f1;
    --text-color: #fff;
    --text-primary: #9984d4;
    --text-secondary: #4321cb;
    --secondary-color: #caa8f5;
}

/* Utility Classes */
.text-secondary{
    color: var(--main-color);
}
.text-center{
    text-align: center;
}
.bg-light{
    background: var(--text-color);
}
.bg-secondary{
    background: var(--main-color);
}
.bg-dark{
    background-color: var(--background-color);
}

.py-0{padding: 16px 0;}
.py-1{padding: 24px 0;}
.py-2{padding: 32px 0;}
.py-3{padding: 48px 0;}

.p-0{padding: 16px;}
.p-1{padding: 24px;}
.p-2{padding: 32px;}
.p-3{padding: 48px;}
.p-4{padding: 1px;}

.wrapper{
    max-width: 1320px;
    padding: 0 50px;
    margin: 0 auto;
    flex-wrap: wrap;
}
.btn{
    display: inline-block;
    padding: 15px 25px;
    margin-right: 30px;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 25px;
    color: var(--text-color);
    font-size: 12px;
    font-weight: bold;
    overflow: hidden;
    transition: all 0.5s ease;
}



#element{
    color: var(--main-color);
}

/* navbar Styling */

.navbar{
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('/assets/images/background.jpg') no-repeat center center/cover;
    background-blend-mode: darken;
    width: 100%;
    height: 100vh;
}
.title h1{
    text-align: center;
    padding-top: 50px;
    font-size: 42px;
}
.title h1::after{
    content: "";
    height: 4px;
    width: 230px;
    background-color: #000;
    display: block;
    margin: auto;
}
.services{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px auto;
    text-align: center;
}
.card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0px 20px;
    padding: 20px 20px;
    background-color: #efefef;
    border-radius: 10px;
    cursor: pointer;
}
.card:hover{
    background-color: #b8d4de;
    transition: 0.4s ease;
}
.card .icon{
    font-size: 35px;
    margin-bottom: 10px;
}

.card h2{
    font-size: 28px;
    color: #c94f4f;
    margin-bottom: 20px;
}

.card p{
    font-size: 17px;
    margin-bottom: 30px;
    line-height: 1.5;
    color: #5e5e5e;
}
.button {
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    background-color: #2c677c;
    padding: 8px 12px;
    border-radius: 5px;
    letter-spacing: 1px;
}
.button:hover{
    background-color: #c94f4f;
    transition: 0.4s ease;
}
@media screen and (max-width: 940px) {
    .services{
        display: flex;
        flex-direction: column;
    }
    .card{
        width: 85%;
        display: flex;
        margin: 20px 0px;
        
    }
}
/* Top Navbar */

.navbar .navbar-top{
    width: 100%;
    display: flex;
    padding: 0 80px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    top: 0;
    left: 0;
}
.navbar .left{
    display: flex;
    list-style: none;
}
.navbar .left li a{
    display: inline-block;
    font-size: 13px;
    text-decoration: none;
    color: #95A2BB;
    padding: 5px 15px;
    transition: all 0.5s ease;
}
.navbar .left li a:hover{
    color: var(--text-color);
}
.navbar .left li:first-child{
    font-weight: 700;
    border-right: 1px solid #536DAF;
}
.navbar .right{
    display: flex;
    list-style: none;
}
.navbar .right li a{
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
    color: #95A2BB;
    transition: all 0.5s ease;
}
.navbar .right li a:hover{
    color: var(--secondary-color);
}

/* Bottom Navbar */
.navbar .navbar-bottom{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--text-color);
    padding: 25px 95px;
    align-items: center;
    margin:  auto;
    display: flex;
    position: fixed; 
    justify-content: space-between;
    overflow: hidden;
}
.navbar-bottom.sticky{
    padding: 15px 95px;
    background: #fff;
    border-bottom: 1px solid #0A2940;
    color: #0A2940;
    top: 0;
    z-index: 999;
}
.navbar .navbar-bottom .logo-left img{
    position: relative;
    /* mix-blend-mode: color-burn; */
    width: 50px;
    height: 50px;
    transition: all 0.5s ease;
}
.navbar .navbar-bottom.sticky .logo-left{
    color: #0A2940;
}
.navbar .navbar-bottom .logo-left:hover{
    color: #0A2940;
}
.navbar .navbar-bottom .menu-right{
    display: flex;
    list-style: none;
    font-size: 14px;
    font-weight: 600;
}
.navbar .navbar-bottom.sticky .menu-right li:last-child{
    display: none;
}
.navbar .navbar-bottom .menu-right a{
    text-decoration: none;
    display: inline-block;
    padding: 0 20px;
    color: #1A1B1E;
    transition: all 0.5s ease;
}
.navbar .navbar-bottom .menu-right a:hover{
    color: var(--main-color);
}

/* navbar-content Section styling */
.navbar .navbar-content{
    max-width: 850px;
    margin-top: 15%;
    padding: 0 95px;
}
.navbar .navbar-content h1{
    color: var(--text-color);
    font-size: 60px;
    margin: 15px 0;
}
.navbar .navbar-content span{
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.navbar .navbar-content p{
    color: var(--text-color);
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
}
.navbar .navbar-content .btn-left{
    background: linear-gradient(to right, var(--background-color) , var(--secondary-color));
}
.navbar .navbar-content .btn-right{
    background: linear-gradient(to right,var(--secondary-color), var(--background-color));
}


/* Services Section Styling */


#services .items{
    display: flex;
    padding-bottom: 40px;
}

#services .items .item{
    width: 32%;
    text-align: center;
    padding: 10px;
    margin: 10px;
    background: var(--secondary-color);
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.3), -5px -5px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease;
}

#services .items .item h3{
    color: #000;
    font-size: 16px;
    margin: 5px;
}
#services .items .item p{
    line-height: 1.4;
    color: var(--text-secondary);
}
#services .items .item p:hover{
    line-height: 1.4;
    color: var(--text-color);

}


#services .items .item i{
    color: #95A2BB;
}
#services .items .item:hover i{
    color: var(--main-color);
}
#services .items .item:hover{
    background:#0A2940;
    transform: scale(1.05);
}
#services .items .item:hover h3{
    color: #f4f4f4;
}

/* Services Section Bottom */
#goal{
    display: flex;
    height: 100vh;
    justify-content: space-around;
}
#goal div{
    flex: 1;
}
#goal .goal-img{
    display: inline-block;
    position: relative;
    width: 600px;
    height: 550px;
    overflow: hidden;
    padding-left: 25px;
}
#goal .goal-img img{
    width: auto;
    height: 100%;
    object-fit: cover;
    /* background-blend-mode: darken; */
}
#goal .goal-text{
    margin: 0 40px;
}
#goal .goal-text a{
    color: #f4f4f4;
    background: var(--secondary-color);
    text-decoration: none;
    font-size: 12px;
    border: 1px solid var(--text-secondary);
    border-radius: 25px;
    padding: 3px 10px;
    transition: 0.5s;
}
#goal .goal-text a:hover{
    color: var(--main-color);
    background: #0A2940;
}
#goal .goal-text h2{
    margin: 20px 0;
    color: #0A2940;
}
#goal .goal-text .contents{
    display: flex;
}
#goal .goal-text .contents .content{
    flex: none;
    padding: 10px;
}
#goal .goal-text .contents .content h3{
    font-size: 16px;
    padding-bottom: 5px;
    color: var(--secondary-color);
}

#goal .goal-text .contents .content h3:hover{
    color: var(--main-color);
}

#goal .goal-text .contents .content p{
    color: #1A1B1E;
}
#goal .goal-text .contents .content i{
    color: #55BA53;
    padding: 3px;
    background: #0A2940;
    align-self: flex-start;
    border-radius: 5px;
    margin-right: 5px;
}



/* Footer Section Styling  */
.footer-bottom{
    background: #1A1B1E;
    color: #536DAF;
}
.footer-bottom p{
    font-size: 14px;
    font-weight: 600;
}

/* Scroll up Styling */
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    border: 1px solid #fff;
    background: #0A2940;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    opacity: 1;
    pointer-events: auto;
    bottom: 30px;
}